{% extends 'index.html' %}

{% block body %}

<section class="about-container">
	<div class="about-header text-center">
		<h1 class="size4 green">About NeuroLearn</h1>
		<p class="subtitle">Empowering neurodiverse learners to succeed through personalized learning plans.</p>
	</div>
	<div class="about-content container">
		<div class="row">
			<div class="col-lg-6">
				<img src="/static/neurolearnpic1.png" alt="About NeuroLearn" class="img-fluid rounded shadow">
			</div>
			<div class="col-lg-6">
				<h2 class="green">Our Mission</h2>
				<p>
					At NeuroLearn, we believe that everyone has a unique way of learning. Our mission is to bridge
					the gap between diverse learning needs and accessible education by providing tools to create 
					personalized learning plans. Whether you're a visual learner, auditory learner, or kinesthetic 
					learner, NeuroLearn is here to help.
				</p>
				<h2 class="green">Why Choose NeuroLearn?</h2>
				<ul>
					<li>Tailored study plans based on neurodiverse needs.</li>
					<li>Interactive and easy-to-use platform.</li>
					<li>Designed with input from educators and neurodiverse communities.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}
